[flake8]
exclude = .git,.tox,__pycache__,env,venv,build
max-line-length = 120
extend-ignore = E203,E121,E123,E126,E226,E24,E704,W503,W504,E722,E731,W605
# Includes default ignores, E722 (bare excepts), E731 (lambda usage), and W605 (escape sequences)
