*.pyc
.DS_Store
build
.build
.project
.pydevproject
*.iml
.idea/
*.spl
eventgen.spl
package.json
package-lock.json
node_modules
cached_build_info.properties
local.build.properties
stage/
local/
eventgen_wsgi.conf
*.log
dist
*.egg-info
**/*.tgz
.cache
*.xml
dist
_book
