pytest>=3.0.0
pytest-xdist
mock
pytest-cov
docker==2.7.0
nameko
pyOpenSSL
lxml==4.3.4
pytest-mock>=1.10.4
boto3
requests>=2.18.4
requests[security]
logutils>=0.3.4.1
futures>=3.0.5
ujson>=1.35
pyyaml
httplib2
jinja2
pyrabbit==1.1.0
urllib3==1.24.2
pyOpenSSL
flake8>=3.7.7
yapf>=0.26.0
isort>=4.3.15