pytest==4.6.4
pytest-xdist
mock
pytest-cov
docker==3.7.3
pyOpenSSL
lxml==4.3.4
pytest-mock>=1.10.4
boto3
requests>=2.18.4
requests[security]
ujson>=1.35
pyyaml
httplib2
jinja2
urllib3==1.24.2
pyOpenSSL
flake8>=3.7.7
yapf>=0.26.0
isort>=4.3.15
Flask>=1.0.3
redis==3.2.1
structlog==19.1.0
requests-futures==1.0.0
