[run]
omit =
	splunk_eventgen/lib/logutils_src/*
	splunk_eventgen/lib/concurrent/*
	splunk_eventgen/lib/requests_futures/*
	splunk_eventgen/logger/*
	
[report]
omit = 
	splunk_eventgen/lib/logutils_src/*
	splunk_eventgen/lib/concurrent/*
	splunk_eventgen/lib/requests_futures/*
	splunk_eventgen/logger/*
