{% set errors = [("0", "Too late to cancel", 1), ("1", "Unknown Order", 1), ("2", "Broker / Exchange Option", 5), ("99", "Other", 2)] -%}
{% set elist = [] -%}
{% for id, msg, pri in errors -%}
	{% for _ in range(0, pri) %}
		{% do elist.append((id, msg)) -%}
	{% endfor -%}
{% endfor -%}

{% set reason = elist | random %}

{{ reason }}