cow,cheddar,CH-SR-M76,lang_EN
cow,cheddar,CH-SR-M76,lang_EN
cow,cheddar,CH-SR-M76,lang_EN
cow,cheddar,CH-SR-M76,lang_EN
cow,cheddar,CH-SR-M76,lang_EN
cow,cheddar,CH-SR-M76,lang_EN
cow,cheddar,CH-SR-M76,lang_EN
cow,cheddar,CH-SR-M76,lang_EN
cow,'monterey jack',CH-AB-F27,lang_EN
processed,'american single',CH-TJ-Q72,lang_EN
processed,'american single',CH-TJ-Q72,lang_EN
processed,'american single',CH-TJ-Q72,lang_EN
processed,'american single',CH-TJ-Q72,lang_EN
cow,camembert,CH-QR-X11,lang_DE
cow,gruyere,CH-QT-A16,lang_DE
cow,cotija,CH-RT-M82,lang_ES
cow,cotija,CH-RT-M82,lang_ES
sheep,manchego,CH-UR-N73,lang_ES
sheep,manchego,CH-UR-N73,lang_ES
sheep,manchego,CH-UR-N73,lang_ES
sheep,manchego,CH-UR-N73,lang_ES
'water buffalo',mozzarella,CH-MT-A51,lang_IT
cow,'parmigiano-reggiano',CH-RW-W28,lang_IT
cow,provolone,CH-GB-Z66,lang_IT
sheep,roquefort,CH-MN-R54,lang_FR
goat,chèvre,CH-PB-H81,lang_FR
cow,brie,CH-FK-N73,lang_FR
cow,brie,CH-FK-N73,lang_FR
cow,brie,CH-FK-N73,lang_FR
cow,brie,CH-FK-N73,lang_FR
cow,brie,CH-FK-N73,lang_FR
cow,brie,CH-FK-N73,lang_FR
cow,gouda,CH-MF-O15,lang_NL
cow,gouda,CH-MF-O15,lang_NL
sheep,feta,CH-QE-L33,lang_EL
cow,cheddar,CH-SR-M76,lang_EN
cow,cheddar,CH-SR-M76,lang_EN
cow,cheddar,CH-SR-M76,lang_EN
cow,cheddar,CH-SR-M76,lang_EN
cow,cheddar,CH-SR-M76,lang_EN
cow,cheddar,CH-SR-M76,lang_EN
cow,cheddar,CH-SR-M76,lang_EN
cow,cheddar,CH-SR-M76,lang_EN
cow,'monterey jack',CH-AB-F27,lang_EN
processed,'american single',CH-TJ-Q72,lang_EN
processed,'american single',CH-TJ-Q72,lang_EN
processed,'american single',CH-TJ-Q72,lang_EN
processed,'american single',CH-TJ-Q72,lang_EN
cow,camembert,CH-QR-X11,lang_DE
cow,gruyere,CH-QT-A16,lang_DE
cow,cotija,CH-RT-M82,lang_ES
cow,cotija,CH-RT-M82,lang_ES
sheep,manchego,CH-UR-N73,lang_ES
sheep,manchego,CH-UR-N73,lang_ES
sheep,manchego,CH-UR-N73,lang_ES
sheep,manchego,CH-UR-N73,lang_ES
'water buffalo',mozzarella,CH-MT-A51,lang_IT
cow,'parmigiano-reggiano',CH-RW-W28,lang_IT
cow,provolone,CH-GB-Z66,lang_IT
sheep,roquefort,CH-MN-R54,lang_FR
goat,chèvre,CH-PB-H81,lang_FR
cow,brie,CH-FK-N73,lang_FR
cow,brie,CH-FK-N73,lang_FR
cow,brie,CH-FK-N73,lang_FR
cow,brie,CH-FK-N73,lang_FR
cow,brie,CH-FK-N73,lang_FR
cow,brie,CH-FK-N73,lang_FR
cow,gouda,CH-MF-O15,lang_NL
cow,gouda,CH-MF-O15,lang_NL
sheep,feta,CH-QE-L33,lang_EL
cow,cheddar,CH-SR-M76,lang_ES
cow,cheddar,CH-SR-M76,lang_DE
cow,cheddar,CH-SR-M76,lang_DE
cow,cheddar,CH-SR-M76,lang_IT
cow,cheddar,CH-SR-M76,lang_DE
cow,cheddar,CH-SR-M76,lang_DE
cow,cheddar,CH-SR-M76,lang_ES
cow,cheddar,CH-SR-M76,lang_FR
cow,'monterey jack',CH-AB-F27,lang_NL
processed,'american single',CH-TJ-Q72,lang_FR
processed,'american single',CH-TJ-Q72,lang_FR
processed,'american single',CH-TJ-Q72,lang_FR
processed,'american single',CH-TJ-Q72,lang_FR
cow,camembert,CH-QR-X11,lang_ES
cow,gruyere,CH-QT-A16,lang_FR
cow,cotija,CH-RT-M82,lang_IT
cow,cotija,CH-RT-M82,lang_EN
sheep,manchego,CH-UR-N73,lang_EN
sheep,manchego,CH-UR-N73,lang_EN
sheep,manchego,CH-UR-N73,lang_IT
sheep,manchego,CH-UR-N73,lang_DE
'water buffalo',mozzarella,CH-MT-A51,lang_EN
cow,'parmigiano-reggiano',CH-RW-W28,lang_EN
cow,provolone,CH-GB-Z66,lang_EN
sheep,roquefort,CH-MN-R54,lang_EN
goat,chèvre,CH-PB-H81,lang_EN
cow,brie,CH-FK-N73,lang_EN
cow,brie,CH-FK-N73,lang_EN
cow,brie,CH-FK-N73,lang_EN
cow,brie,CH-FK-N73,lang_EN
cow,brie,CH-FK-N73,lang_NL
cow,brie,CH-FK-N73,lang_NL
cow,gouda,CH-MF-O15,lang_EN
cow,gouda,CH-MF-O15,lang_NL
sheep,feta,CH-QE-L33,lang_EN
cow,quark,CH-LB-T49,lang_DE
cow,quark,CH-LB-T49,lang_DE
cow,quark,CH-LB-T49,lang_DE