armor,DB-SG-G01,'Vegan Friendly Gloves',25
armor,DC-SG-G02,'Superbly Comfortable Boots',30
armor,FS-SG-G03,'Astoundingly Warm Robe',35
animal,WC-SH-T0,'Jersey Shore Cow',50
animal,PZ-SG-G05,'Grumpy Billy Goat',15
animal,MB-AG-T0,'Sheepish Sheep',20
tools,CU-PG-G06,'Cheese Board of Glory',65
tools,WC-SH-A01,'Epic Fondue Set',90
tools,WC-SH-A02,'The Best Cheese Knife',45
tools,AB-TR-N89,'Robotic Cow Milker',135
food,MB-AG-G0,Wine,20
food,FI-AG-G08,Bread,5
food,BS-AG-G09,Crackers,10
cheese,SC-MG-G10,Roquefort,20
cheese,SC-QT-G12,Camembert,35
cheese,ST-AR-G09,Cotija,45
cheese,SP-FA-R08,Feta,30
cheese,ST-RF-M04,Manchego,20
armor,DB-SG-G01,'Vegan Friendly Gloves',25
armor,DC-SG-G02,'Superbly Comfortable Boots',30
armor,FS-SG-G03,'Astoundingly Warm Robe',35
animal,WC-SH-T0,'Jersey Shore Cow',50
animal,PZ-SG-G05,'Grumpy Billy Goat',15
animal,MB-AG-T0,'Sheepish Sheep',20
tools,CU-PG-G06,'Cheese Board of Glory',65
tools,WC-SH-A01,'Epic Fondue Set',90
tools,WC-SH-A02,'The Best Cheese Knife',45
tools,AB-TR-N89,'Robotic Cow Milker',135
tools,AB-TR-N89,'Robotic Cow Milker',135
tools,AB-TR-N89,'Robotic Cow Milker',135
animal,WC-SH-T0,'Jersey Shore Cow',50
animal,WC-SH-T0,'Jersey Shore Cow',50
tools,WC-SH-A01,'Epic Fondue Set',90