{% for _ in range(0, large_number) %}
{%- time_now -%}
        {"_time":"{{ time_now_epoch }}", "_raw":"{{ time_now_formatted }} {{ LOCAL|random }} {{ large_number }} " }
        {"_time":"{{ time_now_epoch }}", "_raw":"{{ time_now_formatted }} {{ LOCAL|random }} {{ large_number }} " }
        {"_time":"{{ time_now_epoch }}", "_raw":"{{ time_now_formatted }} {{ LOCAL|random }} {{ large_number }} " }
        {"_time":"{{ time_now_epoch }}", "_raw":"{{ time_now_formatted }} {{ LOCAL|random }} {{ large_number }} " }
{% endfor %}