[test_jinja]
end = 1
count = 1
generator = jinja
jinja_template_dir = templates
jinja_target_template = test_jinja.template
jinja_variables = {"large_number":50000}
earliest = -3s
latest = now
outputMode = modinput

[test_jinja_loop]
end = 1
count = 5
generator = jinja
jinja_template_dir = templates
jinja_target_template = test_jinja_loop.template
jinja_variables = {"large_number":1000}
earliest = -3s
latest = now
outputMode = modinput

[test_jinja_timeslice]
end = 1
generator = jinja
jinja_template_dir = templates
jinja_target_template = test_jinja_timeslice.template
jinja_variables = {"large_number":1000}
earliest = -3s
latest = now
outputMode = modinput
