{% for _ in range(0, large_number) %}
{%- time_now -%}
  {"_time":"{{ time_now_epoch }}", "_raw":"{{ time_now_formatted }} test jinja template generator, seq: {{loop.index}}/{{large_number}}"}
{% endfor %}